In [22]:
import pandas as pd
import sys, os
sys.path.insert(0, os.path.join(os.getcwd(), '../../..'))

In [24]:
eurobank_202507 = pd.read_excel("../data/input/eurobank/202507.xlsx")
eurobank_202508 = pd.read_excel("../data/input/eurobank/202508.xlsx")
eurobank_202509 = pd.read_excel("../data/input/eurobank/202509.xlsx")

management_202507 = pd.read_excel("../data/input/management/202507.xlsx")
management_202508 = pd.read_excel("../data/input/management/202508.xlsx")   
management_202509 = pd.read_excel("../data/input/management/202509.xlsx")

In [26]:
eurobank_historical_db = pd.concat([eurobank_202507, eurobank_202508, eurobank_202509], ignore_index=True)
management_historical_db = pd.concat([management_202507, management_202508, management_202509], ignore_index=True)

C:\Users\CG14773\AppData\Local\Temp\ipykernel_20392\2352667742.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  management_historical_db = pd.concat([management_202507, management_202508, management_202509], ignore_index=True)

In [27]:
eurobank_historical_db.to_excel("../data/eurobank_historical_db.xlsx", index=False)

In [29]:
eurobank_historical_db['ΑΡ.ΠΑΡΑΣΤΑΤΙΚΟΥ'].nunique()

2082

In [30]:
management_historical_db.to_excel("../data/management_historical_db.xlsx", index=False)

In [31]:
management_historical_db['ΑΡ.ΠΑΡΑΣΤΑΤΙΚΟΥ'].nunique()

77